[Unit]
Description=Pterobotdyl Discord Bot
After=multi-user.target
[Service]
WorkingDirectory=/home/<user>/Pterobotdyl-Public
Type=simple
Restart=always
ExecStart=python3 /home/<user>/Pterobotdyl-Public/main.py
[Install]
WantedBy=multi-user.target
